asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
dj-database-url==0.5.0
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1635766369754/work
django-cors-headers==3.10.0
django-heroku==0.3.1
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1635854010124/work
psycopg2==2.9.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1637155965157/work
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1626463713199/work
